.carousel-container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  max-width: 800px;
  margin: 0 auto;
}

.carousel-content {
  display: flex;
  align-items: center;
}

.carousel-image {
  width: auto;
  height: auto;
  min-width: 20vw;
  min-height: 30vw;
  max-height: 50vh;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.carousel-button {
  background-color: rgba(255, 255, 255, 0.7);
  border: none;
  border-radius: 10%;
  padding: 10px;
  cursor: pointer;
  font-size: 25px;
  transition: background-color 0.3s, transform 0.3s;
}

.carousel-button:hover {
  background-color: rgba(255, 255, 255, 1);
  transform: scale(1.1);
}

.carousel-button.left {
  margin-right: 10px;
}

.carousel-button.right {
  margin-left: 10px;
}