.checkout_button{
    transition: transform 1s ease;
    box-shadow: 0 0px 10px #060606;
    color: #FDFDFD;
    background-color: #111211;
}
.checkout_button:hover {
    box-shadow: 0 0px 20px #060606;
    transform: scale(1.1);
}
